@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-extrabold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  p {
    @apply text-lg;
  }

  a {
    @apply text-purple-400 underline;
  }

  ol,
  ul {
    @apply list-disc list-inside text-lg;
    padding-inline-start: 20px;
  }

  code {
    color: rgb(40, 42, 46);
    background-color: rgb(246, 246, 246);
    border-radius: 2px;
    padding: 0 2px;
    font-size: 99%;
  }

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: revert;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#gradient-canvas {
  width: 100%;
  height: 100%;

  --gradient-color-1: #ff47ff;
  --gradient-color-2: #00ffff;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #0000c3;
}

html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/**
   * Building on the RNWeb reset:
   * https://github.com/necolas/react-native-web/blob/master/packages/react-native-web/src/exports/StyleSheet/initialRules.js
   */
html,
body,
#__next {
  width: 100%;
  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;
  margin: 0px;
  padding: 0px;
  /* Allows content to fill the viewport and go beyond the bottom */
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  /* Prevent text size change on orientation change https://gist.github.com/tfausak/2222823#file-ios-8-web-app-html-L138 */
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  display: flex;
  /* Allows you to scroll below the viewport; default value is visible */
  overflow-y: auto;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
}
